<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<link rel="stylesheet" type="text/css" th:href="@{/css/OrderCheck.css}"/>
<title>주문 확인 창</title>

<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <h3 id="h3Style">선택 확인 창</h3>

    <div id="decoBox"></div>

    <div id = "orderForm">
        <img th:src="|/images/delivery.png|" width="300" height="200"/>
        <div id="chooseCheck">
        <form role="form" th:object="${saveForm}" method="post">
    <div>
        픽업장소 : <span th:text="${saveForm.getPickUp().getPlaceName()}"></span>
    </div>

    <div>
      카테고리 : <span th:text="${saveForm.getCategory().getCategoryName()}"></span>
    </div>
    <div>
          장소명 : <span th:text="${saveForm.getRestaurant().getRestaurantName()}"></span>
    </div>

    <div>
          주소 : <span th:text="|${restaurant.address.city} ${restaurant.address.state}| "></span>
    </div>


     </div>
    <div id="btnStyle">
        <input type="submit" id = "btn1" value="다음" name="check"  th:onclick="onClick()"/>
        <input type="button" id = "btn2" value='이전' />
    </div>

    </form>
    <script th:inline="javascript">
        /*<![CDATA[*/

  		function onClick(){
  			alert("저장이 완료되었습니다");
 		}
 		/*]]>*/
    </script>
    <script type="text/javascript" th:src="@{/js/buttonHover.js}"></script>
    <div th:replace="fragments/footer :: footer" />

</div>
</body>
</html>