<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<title>주문 확인 창</title>
<style>
#orderForm {
    margin-left:25%;
}
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div id = "orderForm">
    <form role="form" th:object="${saveForm}" method="post">
    <div>
     <li>   픽업장소 : <span th:text="${saveForm.getPickUp().getPlaceName()}"></span></li>
    </div>

    <div>
      <li>  카테고리 : <span th:text="${saveForm.getCategory().getCategoryName()}"></span></li>
    </div>
    <div>
        <li>  장소명 : <span th:text="${saveForm.getRestaurant().getRestaurantName()}"></span></li>
    </div>

    <div>
        <li>  주소 : <span th:text="|${restaurant.address.city} ${restaurant.address.state}| "></span></li>
    </div>
        <input type="submit" th:value="확인" th:onclick="onClick()">
    </form>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/

  		function onClick(){
  			alert("저장이 완료되었습니다");
 		}
 		/*]]>*/
    </script>
    <div th:replace="fragments/footer :: footer" />

</div>
</body>
</html>