<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/BoardAll.css}"/>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div id="sortTab">
        <form th:object="${boardSearch}" class="form-inline">
            <div class="form-group mb-2"  id="sortId">
                <input type="text" th:field="*{nickName}" class="form-control"
                       placeholder="회원 닉네임 입력"/>
            </div>
            <div class="form-group mx-sm-1 mb-2"  id="sortTitle">
                <input type="text" th:field="*{title}" class="form-control"
                       placeholder="제목 입력"/>
            </div>
            <button type="submit" class="btn btn-primary mb-2">검색</button>
        </form>
    </div>
    <div th:if="${boards.size()<1}" >
        <span id="message">글 내용이 없습니다.<a href="#" th:href="@{/board/select/myPosition}" class="btn btn-primary" role="button">등록</a></span>
    </div>

    <div th:if="${boards.size()>0}">
    <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>아이디</th>
                <th>제목</th>
                <th>내용</th>
                <th>시간</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.id}"></td>
                <td th:text="${board.order.nickName}" style="font-size:12px;"></td>
                <td th:text="${board.title}" style="font-size:12px;"></td>
                <td><a href="#" th:href="@{/board/{boardId}/view (boardId=${board.id})}" th:text="${board.content}"></a></td>
                <td th:text="${board.localDateTime}" style="font-size:12px;"></td>
                <td><a th:if="${session.SESSION_ID.toString().contains('ADMIN')}" href="#" th:href="@{/member/{id}/edit (id=${member.id})}" class="btn btn-primary" role="button">수정</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>

</body>
</html>