<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<link rel="stylesheet" type="text/css" th:href="@{/css/BoardDetail.css}"/>
<title>주문 확인 창</title>

<body>
    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader"/>
        <h3 id="h3Style">글 정보</h3>

        <div th:object = "${board}">
            <div id="boardForm">
                <div>
                    <ul id="id">글번호 : <span  th:text="*{id}"></span></ul>
                </div>
                <div>
                    <ul id="loginId">닉네임 : <span  th:text="*{order.loginId}"></span></ul>
                </div>
                <div>
                    <ul id="order">주문번호 : <span  th:text="*{order.id}"></span></ul>
                </div>
                <div>
                    <ul id="title">제목 : <span  th:text="*{title}" ></span></ul>
                </div>
                <div>
                    <ul id="content">내용 : <span  th:text="*{content}"></span></ul>
                </div>
                <div id="button">
                    <input type="button" id="btn1" th:value="확인" th:onclick="onClick()">

                </div>
            </div>
        </div>


    <script th:inline="javascript">
         /*<![CDATA[*/

  		function onClick(){
  			alert("리스트로 돌아갑니다.");
  			 location.href = "/boards";
 		}

 		/*]]>*/
</script>
        <script type="text/javascript" th:src="@{/js/buttonHover.js}"></script>

        <div th:replace="fragments/footer :: footer" />

</div>
</body>
</html>