<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
.container {
max-width: 1000px;
}
.fieldError {
border-color: #dc3545;
color: #dc3545;
}

.field-error {
color: #dc3545;
}

#title{
 width:1000px;
 height:50px;
}
#content{
 width:1000px;
 height:200px;
}

</style>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <h2>글쓰기 Page</h2>
  <form role="form" th:object="${boardForm}" method="post" >



    <div th:if="${#fields.hasGlobalErrors()}">
      <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
    </div>
    <div class="form-group">
      <label th:for="order">아이디</label>
      <input type="text" th:field="*{order.loginId}" class="form-control" placeholder="제목을 입력하세요" th:class="${#fields.hasErrors('order')}? 'form-control fieldError' : 'form-control'" readonly>
      <p th:if="${#fields.hasErrors('order')}" th:errors="*{order}">Incorrect date</p>
    </div>

    <div class="form-group">
      <label th:for="nickName">닉네임</label>
      <input type="text" th:field="*{nickName}" class="form-control" placeholder="제목을 입력하세요" th:class="${#fields.hasErrors('nickName')}? 'form-control fieldError' : 'form-control'"readonly>
      <p th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}">Incorrect date</p>
    </div>
    <div class="form-group">
      <label th:for="pickUpName">픽업장소</label>
      <input type="text" th:field="*{pickUpName}" class="form-control" placeholder="장소를 입력하세요" th:class="${#fields.hasErrors('pickUpName')}? 'form-control fieldError' : 'form-control'"readonly>
      <p th:if="${#fields.hasErrors('pickUpName')}" th:errors="*{pickUpName}">Incorrect date</p>
    </div>
    <div class="form-group">
      <label th:for="category">카테고리</label>
      <input type="text" th:field="*{category}" class="form-control" placeholder="카테고리를 입력하세요" th:class="${#fields.hasErrors('category')}? 'form-control fieldError' : 'form-control'"readonly>
      <p th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Incorrect date</p>    </div>
    <div class="form-group">
      <label th:for="restaurantName">식당이름</label>
      <input type="text" th:field="*{restaurantName}" class="form-control" placeholder="식당이름을 입력하세요" th:class="${#fields.hasErrors('restaurantName')}? 'form-control fieldError' : 'form-control'"readonly>
      <p th:if="${#fields.hasErrors('restaurantName')}" th:errors="*{restaurantName}">Incorrect date</p>    </div>
    <div>
      <label th:for="state">제목</label>
      <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요" th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'">
      <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect date</p>
    </div>
    <div>
      <label th:for="state">내용</label>
      <input type="text" th:field="*{content}" class="form-control" placeholder="내용을 입력하세요" th:class="${#fields.hasErrors('content')}? 'form-control fieldError' : 'form-control'">
      <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Incorrect date</p>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br/>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>