<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<link rel="stylesheet" type="text/css" th:href="@{/css/MemberCheck.css}"/>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <h3 id="h3Style">내 정보</h3>

    <div th:object = "${memberForm}">
        <div class="form-group" id="memberImg">
            <img th:src="|images/${memberForm.uploadFile.getServerFileName()}|" width="200" height="200"/>
        </div>
        <div id="memberCheckForm">
        <div>
           <ul id="loginId">아이디 : <span  th:text="*{loginId}" th:field="*{loginId}"></span></ul>
        </div>

        <div>
            <ul id="nickName">닉네임 : <span  th:text="*{nickName}" th:field="*{nickName}"></span></ul>
        </div>
        <div>
            <ul id="memberSort">등급 : <span  th:text="*{memberSort}" th:field="*{memberSort}"></span></ul>
        </div>
        <div>
            <ul id="phoneNumber">휴대폰 번호 : <span  th:text="*{phoneNumber}" th:field="*{phoneNumber}"></span></ul>
        </div>
        <div>
            <ul id="address">주소 : <span  th:text="*{address.city}" th:field="*{address.city}"/>
                <span  th:text="*{address.state}" th:field="*{address.state}"/>
            </ul>
            <ul id="address_zipCode">우편번호 :  <span  th:text="*{address.zipCode}" th:field="*{address.zipCode}"/>
            </ul>
        </div>
        <div id="button">
       <a th:href="@{/}" class="btn btn-primary" role="button">확인</a>
        <a th:href="@{/member/{id}/edit (id=${memberForm.id})}" class="btn btn-primary" role="button">수정</a>
        </div>
</div>
</div>

    </form>
    <br/>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->
</body>
</html>