<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<link rel="stylesheet" type="text/css" th:href="@{/css/PlaceSelect.css}"/>
<style>
.container {
max-width: 1000px;
}
.fieldError {
border-color: #dc3545;
color: #dc3545;
}

.field-error {
color: #dc3545;
}
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div id="map"></div>
<table class="tableInfo">
    <thead>
    <tr>
    <tr class="trstyle"/>
    <td>선택</td>
    <td>장소</td>
    <td>거리</td>
    <td>주소</td>
    </tr>
    </thead>
    <tbody>

    <tr th:each="cal : ${cal}">
            <td><input type="radio" name = "pickupId" th:pickupId="${cal.pickupId}" th:onclick="openChild(this.getAttribute('pickupId'))"></td>
        <td th:text="${cal.placeName}"></td>
        <td th:text="${cal.distance}"></td>
        <td th:text="${cal.address}"></td>
    </tr>

    </tbody>
</table>
    <h2 id="h2style">픽업 장소
        <input type="hidden" id = "url" value=""/>

        <input type="submit" value="선택" name="check" style="margin-top:0px" th:onclick="onClick()"/></h2>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8800e7024fb23ec08385f1384cbd3f73&libraries=services"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8800e7024fb23ec08385f1384cbd3f73"></script>

    </div>

    <script th:inline="javascript">
            let myPlace= [[${place}]]
            let idx = myPlace.length-1;
            let myLat = myPlace[idx].coordinate.latitude;
            let address = new Array();

            for(let i = 0; i<myPlace.length;i++){
                address[i] = myPlace[i].address;
            }

            let myLon = myPlace[idx].coordinate.longitude;
               let mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                 center: new kakao.maps.LatLng(myLon,myLat), // 지도의 중심좌표
                    level: 4 // 지도의 확대 레벨
                     };

               let map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
               let geocoder = new daum.maps.services.Geocoder();

             address.forEach(function(addr,idx){
                geocoder.addressSearch(addr,function(result,status){
                   if(status===kakao.maps.services.Status.OK){
                      let coords = new kakao.maps.LatLng(result[0].y,result[0].x);
                      	if(idx==myPlace.length-1){
                      	  let marker = new kakao.maps.Marker({
                              map:map,
                              position:coords
                           });
                           let customOverlay = new kakao.maps.CustomOverlay({
            				   		position: coords,
                                   	content : '<div class ="label2"><span class="left2"></span><span class="center2">'+myPlace[idx].placeName+'</span><span class="right2"></span></div>'
                         	  });
                        	 customOverlay.setMap(map);

                      	}
                      	else{
                  	  let marker = new kakao.maps.Marker({
                          map:map,
                             position:coords
                       });

                       let customOverlay = new kakao.maps.CustomOverlay({
        				   		position: coords,
                               content : '<div class ="label"><span class="left"></span><span class="center">'+myPlace[idx].placeName+'</span><span class="right"></span></div>'

                     	  });
                  	 customOverlay.setMap(map);

                   }}
                })
             })

              </script>


</div>

<script th:inline="javascript">
/*<![CDATA[*/

     function openChild(val){
     document.getElementById('url').value = val;
	}

  		function onClick(){
        let urlVal=document.getElementById('url').value;
  		if(urlVal == null || urlVal == ""){
  		  alert('선택하지않았습니다.');
  		}
  		else{
  			let popupWidth = 500;
  			let popupHeight = 600;
  			let left = Math.ceil((window.screen.width-popupWidth)/2);
  			let top = Math.ceil((window.screen.height-popupHeight)/2);
 		    openWin = window.open("/board/select/category?pickupId="+urlVal,"childForm","width="+popupWidth+",height="+popupHeight+",left="+left+",top="+top+"resizable=yes")
 		    }
 		}
 		/*]]>*/
</script>


</body>
</html>
