
#sortTab{
   margin-top:5%;
   margin-left:25%;
}
#sortId{
   float:left;
}

#sortTitle{
   float:left;
   width:150px;
}
#h3Style{
margin-left:57%
}
.footer{
   margin-top:5%;
}
#message{
   margin-left:-25%;
}
tr,th{
   text-align:center;
}