.container {
    max-width: 1000px;

}
#h3Style{
    z-index: 10;
    background-color:#F7E600;
    position: absolute;
      width:fit-content;
      margin-left:20px;
      margin-top:20px;
      	opacity: 0.8;
}



#memberImg{
    	z-index: 1;
    position: absolute;
    margin-left:5%;
    margin-top:1%;
}
#memberCheckForm{
    margin-left:35%;
}

#button{
    margin-bottom:3%;
}
#notice{
    margin-top:4%;
    margin-left:5.5%;
    background-color:black;
    color:white;
    width:fit-content;

}