
.footer{
	margin-top:8%;
}
img{
	z-index: 3;
	width:250px;
	margin-top:5%;
	margin-left:37%;

}

#h3Style{
    z-index: 10;
    background-color:#40E0D0;
    position: absolute;
      width:fit-content;
      margin-left:20px;
      margin-top:20px;
      	opacity: 0.8;
}
#orderForm {
    margin-left:29%;
	z-index: 5;
	width: 400px;
	background-color: #ebebebdd;
	border-radius: 15px;
	padding-top:1%;
	padding-bottom:1%;
}

#chooseCheck{
	font-size:20px;
	margin-left:10%;
}

#h3Style{
    background-color:#40E0D0;
    position: absolute;
      width:fit-content;
      margin-left:10%;
      	opacity: 0.8;
}
#btnStyle{
	margin-top:1.5%;
	margin-left:16%;
}

#btn2 , #btn1{
	position: absolute;
	border:none;
	border-radius: 20px;
	z-index: 1;
	width: 50px;
	font-size:18px;
	background:black;
	color:white;
}

#btn2{
	margin-left:15%;
}

#btn1{
	margin-left:25%;
}
