<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>메인 Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1 id="h1Title">메인 화면</h1>
        <img th:src="|/images/MainPage.png|" width="400" height="400"/>
        <p class="lead" th:if="${session.USER_ID==null}">회원 기능</p>
        <p>
            <a href="#" th:if="${session.SESSION_ID!=null}" th:href="@{/logout}" class="btn" id="logout_btn" role="button" th:onclick="onClick()">Logout</a>
            <a href="#" th:if="${session.SESSION_ID==null}" th:href="@{/login}" class="btn" id="login_btn" role="button">로그인</a>
        <a href="#" th:if="${session.SESSION_ID==null}" th:href="@{/member/new}" class="btn" id="form_btn"  role="button">회원 가입</a>
        <p class="lead">글 작성 기능</p>

        <a href="#" th:if="${session.USER_ID!=null}"  th:href="@{/member/{id} (id=${session.USER_ID})}" id="myInfo_btn" class="btn" role="button">내 정보 보기</a>
            <a href="#" th:if="${session.SESSION_ID!=null}"  th:href="@{/member/all}" class="btn" id="memberAll_btn" role="button" >회원 목록</a>
        </p>
        <p>
            <a  href="/board/select/myPosition" class="btn" id="update_btn" role="button">글 등록</a>
            <a  href="/boards"  class="btn" id="list_btn" role="button">글 목록</a>
        </p>
    </div>
    <script th:inline="javascript">
    /*<![CDATA[*/

       function onClick(){
        alert('로그아웃 되었습니다.')
 		}
       /*]]>*/
    </script>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>