<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<link rel="stylesheet" type="text/css" th:href="@{/css/PlaceSelect.css}"/>
<title>메뉴고르기</title>
<style>
.container {
max-width: 560px;
}
.fieldError {
border-color: #dc3545;
color: #dc3545;
}

.field-error {
color: #dc3545;
}
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    [ <span th:text="${pickUp.placeName}"></span> ] 주변 원하는 메뉴를 골라주세요
    <form action="/board/select/step_3'/>" name="childForm" target="popupName">
        <!--  <form name="childForm">-->
        <input type="text" id="cInput" value=""/>
        <input type = "hidden" name = "place_name" value="${place.name}" readonly/>
        <br>
        <th:each items="${category}" var="category" >
            <input type="radio" name="code" value="${category.code}" id="code" onclick="radioCheck('${category.code}')">${category.foodtype}<br>

        </th:each>
        <br>
        <input type="hidden" id="choose" value=""/>
        <input type = "submit" value="선택" onclick= "window.close()" />



</div>

</body>
</html>
